{% include 'includes/head.html' %}
{% load static %}
<body>

  <!-- Nav Container -->
  {% include 'includes/navbar.html' %}
  <!-- END container -->




  <div class="hero overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('{% static 'images/hero_bg.png' %}')">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="row justify-content-around align-items-center">
            <div class="col-lg-7 intro">
              <h1 data-aos="fade-up" data-aos-delay="0">We Curiate Transformative Futureproof Technological Solutions
              </h1>
              <p class="text-white mb-4" data-aos="fade-up" data-aos-delay="100">At Dovetec Enterprises, we craft
                cutting-edge tech solutions that adapt to your needs. With expertise in emerging tech and industry
                trends, we drive business growth with innovative strategies. Stay ahead with us for a competitive edge
                in tomorrow's digital world.
                .</p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="/contact" class="btn btn-primary">Get In
                  Touch</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custome Hero -->
  <section id="solution" class="section bg-light py-lg-0 pt-0 pb-5 mt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2 order-1">
          <div class="d-flex justify-content-center justify-content-md-end">
            <picture>
              <source media="(min-resolution: 2dppx)"
                srcset="{% static 'images/img_custom_software.png' %}">
              <img src="{% static 'images/img_custom_software.png' %}"
                class="img-fluid" width="486" height="395" loading="lazy" alt="Custom Software">
            </picture>
          </div>
        </div>
        <div class="col-md-6 order-md-1 order-2 text-center text-md-left">
          <h2>Custom Software Services and Solutions</h2>
          <p>At the heart of creating exceptional software solutions lies collaboration. With a team of 10+ dedicated
            professionals, we work tirelessly to bring value to your business. Our certified developers, test
            engineers, and business analysts ensure excellence in every service we provide.</p>
          <a href="/contact" class="btn btn-primary">Get Free Consultation</a>
        </div>
      </div>
    </div>
  </section>


  <!-- ./Custome Hero -->
  <!-- Sub-Hero Sect -->
  <section id="feature">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="text-wrapper">
            <div>
              <h2 class="row justify-content-around align-items-center" data-wow-delay="0.3s">We Help Grow Your
                Business</h2>
              <p class="mb-4">At Dovetec Enterprises, we specialize in providing innovative solutions tailored to your
                business needs, ensuring your growth and success in the digital landscape.</p>
              <a href="/about" class="btn btn-primary btn-common">More About Us</a>
            </div>
          </div>
        </div>
        <!-- ./Services Sect -->
        <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
          <div class="feature-thumb">
            <div class="feature-item wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="icon">
                <i class="feather-info"></i>
              </div>
              <div class="feature-content">
                <h3>What We Do</h3>
                <p>At Dovetec Enterprises, we specialize in providing innovative solutions tailored to your business
                  needs, ensuring your growth and success in the digital landscape.</p>
              </div>
            </div>
            <div class="feature-item wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="icon">
                <i class="feather-users"></i>
              </div>
              <div class="feature-content">
                <h3>Meet Our Team</h3>
                <p>Meet the dedicated team of experts at Dovetec Enterprises committed to delivering top-notch
                  solutions and personalized services to meet your business objectives.</p>
              </div>
            </div>
            <div class="feature-item wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="700ms">
              <div class="icon">
                <i class="feather-award"></i>
              </div>
              <div class="feature-content">
                <h3>Our Creations</h3>
                <p>At Dovetec Enterprises, we take pride in our portfolio of successful projects that reflect our
                  dedication to excellence and innovation in every endeavor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Sub-Hero Sect -->

  <!-- Services Sect -->
  <div class="section services bg-light">
    <div class="container">
      <div class="row mb-4">
        <div class="col text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="heading">Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="#" class="service-block d-flex glassmorphic-effect">
              <span class="wrap-icon">
                <span class="feather-command"></span>
              </span>
              <div class="text">
                <h2 class="mb-2">Planning</h2>
                <p>During the Planning phase, we meticulously analyze your project requirements, define objectives,
                  and outline a comprehensive strategy to ensure a successful outcome.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="#" class="service-block d-flex glassmorphic-effect">
              <span class="wrap-icon">
                <span class="feather-send"></span>
              </span>
              <div class="text">
                <h2 class="mb-2">Launch</h2>
                <p>Upon Launch, we deploy your solution seamlessly, providing ongoing support and maintenance to
                  optimize performance and ensure continued success.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="#" class="service-block d-flex glassmorphic-effect">
              <span class="wrap-icon">
                <span class="feather-check-square"></span>
              </span>
              <div class="text">
                <h2 class="mb-2">Support</h2>
                <p>Our Support service is dedicated to ensuring your satisfaction and success. We provide ongoing
                  assistance, training, and guidance to help you get the most out of your solution.</p>
              </div>
            </a>
          </div>


          <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="#" class="service-block d-flex glassmorphic-effect glassmorphic-effect">
              <span class="wrap-icon">
                <span class="feather-shopping-cart"></span>
              </span>
              <div class="text">
                <h2 class="mb-2">E-commerce Solutions</h2>
                <p>Our E-commerce Solutions empower businesses to thrive in the digital marketplace. From intuitive
                  user
                  interfaces to secure payment gateways, we create seamless online shopping experiences that drive
                  sales
                  and customer satisfaction.</p>
              </div>
            </a>
          </div>


          <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="#" class="service-block d-flex glassmorphic-effect">
              <span class="wrap-icon">
                <span class="feather-phone"></span>
              </span>
              <div class="text">
                <h2 class="mb-2">Mobile Development</h2>
                <p>Our Mobile Development service empowers businesses to reach their customers on the go. From iOS to
                  Android, we create user-friendly and high-performance mobile applications that enhance engagement
                  and drive results.</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <!-- ./Services Sect -->

    <div class="section bg-light py-lg-0 pt-0 pb-5 mt-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
            <img src="{% static 'images/about-min.jpg' %}" alt="Image" class="img-fluid overlap-img">
          </div>
          <div class="col-lg-4 mr-auto ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="py-lg-5">
              <h3 class="mb-4">Your digital presence should be <span class="text-primary">unstoppable</span> force
              </h3>
              <p>Dovetec Enterprises is a pioneering technology company dedicated to curating transformative,
                future-proof solutions. With a focus on innovation and excellence, we specialize in delivering
                cutting-edge software and digital products that solve complex workforce challenges. Our team is driven
                by a passion for creating unparalleled technological advancements that empower businesses and
                organizations to thrive in the digital age. Through strategic partnerships, client-focused strategies,
                and a commitment to excellence, we strive to be the forefront of technological innovation, helping our
                clients succeed in today's dynamic marketplace. in Bookmarksgrove right at the coast of the Semantics,
                a large language
                ocean.</p>
              <div class="mb-4 count-numbers">
                <div class="row">
                  <div class="col-6">
                    <span class="counter">
                      <span class="number" data-number="99">0</span>%
                    </span>
                    <span class="d-block">Success rate</span>
                  </div>
                  <div class="col-6">
                    <span class="counter">
                      <span class="number" data-number="50">0</span>
                    </span>
                    <span class="d-block">Happy Customers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Clients -->

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h4 class="font-weight-bold">Our Partners</h4>
            <p>
              Discover the power of innovation with Dovetec Enterprises. Our clients aren't just partners; they're
              pioneers in their industries, empowered by cutting-edge solutions tailored to their unique needs. Join a
              community driven by excellence, where success isn't just a goal – it's an expectation. Experience the
              difference with Dovetec Enterprises and unlock your full potential today.
            </p>
          </div>
        </div>

        <div class="owl-logos owl-carousel">
          <div class="item">
            <img src="{% static 'images/logo-trinity.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="item">
            <img src="{% static 'images/logo-techdarasa.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="item">
            <img src="{% static 'images/logo-oddibites.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>

    </div>

    <!-- ./Our Clients -->
    <!-- Video Promotion -->
    <section class="video-promo section-padding" style="background-image: url('{% static 'images/bg-video.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 col-sm-12">
            <div class="video-promo-content text-center wow fadeInUp animated" data-wow-delay="0.3s">
              <a class="video-popup-btn" data-toggle="modal" data-target="#videoModal">
                <img class="w-80 video-play icon-play-circle-o" src="{% static 'images/play-circle.svg' %}" alt="Video Play">
                
              </a>
              <h2 class="mt-3 wow zoomIn animated" data-wow-duration="1000ms" data-wow-delay="100ms"
                style="background-color: transparent; color: #fff;">Watch Video</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Video Promotion -->

    <!-- Video Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KCcrhGTAm6I"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Video Modal -->
    <!-- ./Video Promotion -->



    <!-- Portfolio -->

    <!-- ./Portfolio -->


    <!-- Testimonials -->
    <div class="section recent-posts" data-aos="fade" data-aos-delay="0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="heading text-white">Blog Posts</h2>
          </div>
        </div>

        <div class="owl-3-slider owl-carousel">
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K.</div>
              <h3><a href="#single.html">Revolutionizing Workforce Management: Dovetec's Innovative Solutions</a></h3>
              <p>
                Dovetec Enterprises pioneers transformative, future-proof solutions in technology. With an unwavering
                commitment to innovation and excellence, we specialize in delivering cutting-edge software and digital
                products tailored to solve intricate workforce challenges. Our dedicated team is propelled by a
                fervent passion for crafting unparalleled technological advancements, empowering businesses and
                organizations to flourish in the digital era. Through strategic partnerships and client-centric
                approaches, we aspire to lead the forefront of technological innovation, guiding our clients towards
                success in today's dynamic marketplace.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_2-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Marvin Kurland</div>
              <h3><a href="#single.html">Navigating the Digital Landscape: Dovetec's Tech Trends Forecast</a></h3>
              <p>
                Embark on a journey through the digital landscape with Dovetec Enterprises. As pioneers in the realm
                of technology, we meticulously analyze forthcoming tech trends and their profound implications on
                businesses. Our insights provide invaluable foresight, enabling organizations to stay ahead of the
                curve and strategically position themselves for future success.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_3-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Joflix O..</div>
              <h3><a href="#single.html">Unlocking Potential: Dovetec's Guide to Digital Transformation</a></h3>
              <p>
                Dovetec Enterprises serves as a beacon of guidance in the realm of digital transformation. With a
                steadfast focus on innovation and excellence, we empower businesses to unlock their full potential
                through seamless digital integration. Our tailored strategies and cutting-edge solutions propel
                organizations towards sustainable growth and competitive advantage in an ever-evolving digital
                landscape.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K</div>
              <h3><a href="#single.html">Innovate to Elevate: Dovetec's Approach to Business Growth</a></h3>
              <p>
                Innovation lies at the heart of Dovetec Enterprises' ethos. Through a relentless pursuit of
                technological advancement, we facilitate business growth and prosperity. Our comprehensive suite of
                innovative solutions equips organizations with the tools they need to thrive in today's dynamic
                marketplace, ensuring they remain at the forefront of industry evolution.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>

          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K.</div>
              <h3><a href="#single.html">Mastering Digital Disruption: Dovetec's Roadmap to Success</a></h3>
              <p>
                Dovetec Enterprises navigates the tumultuous waters of digital disruption with precision and
                expertise. Our roadmap to success is built on a foundation of innovation, agility, and foresight.
                Through strategic guidance and cutting-edge solutions, we empower businesses to not only survive but
                thrive amidst rapid technological change.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_2-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Marvin Kurland</div>
              <h3><a href="#single.html">The Art of Innovation: Dovetec's Creative Solutions</a></h3>
              <p>
                At Dovetec Enterprises, innovation is not just a concept—it's an art form. Our creative solutions are
                crafted with meticulous attention to detail and a deep understanding of industry nuances. From
                groundbreaking software to revolutionary digital products, we redefine the boundaries of what's
                possible in technology.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_3-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Joflix O..</div>
              <h3><a href="#single.html">Tech Trends Unveiled: Dovetec's Insights for Tomorrow</a></h3>
              <p>
                Stay ahead of the curve with Dovetec Enterprises' unparalleled insights into the latest tech trends.
                Our comprehensive analysis and expert forecasts provide businesses with the knowledge they need to
                adapt and thrive in an ever-changing digital landscape.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K</div>
              <h3><a href="#single.html">Empowering Tomorrow's Leaders: Dovetec's Mentorship Approach</a></h3>
              <p>
                Dovetec Enterprises believes in empowering the next generation of leaders through mentorship and
                guidance. Our experienced team offers invaluable insights and support to budding entrepreneurs and
                innovators, helping them navigate the complexities of the tech industry with confidence.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K.</div>
              <h3><a href="#single.html">Building Resilient Businesses: Dovetec's Cybersecurity Solutions</a></h3>
              <p>
                In today's digital world, cybersecurity is paramount. Dovetec Enterprises offers robust cybersecurity
                solutions designed to protect businesses from evolving threats. From threat detection to incident
                response, we safeguard your digital assets with cutting-edge technologies and proactive measures.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_2-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Marvin Kurland</div>
              <h3><a href="#single.html">The Power of Collaboration: Dovetec's Partner Ecosystem</a></h3>
              <p>
                Dovetec Enterprises believes in the power of collaboration. Through strategic partnerships and
                alliances, we expand our reach and leverage complementary strengths to deliver even greater value to
                our clients. Together, we drive innovation and create lasting impact in the tech industry.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_3-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Joflix O..</div>
              <h3><a href="#single.html">Charting a Course for Success: Dovetec's Strategic Planning</a></h3>
              <p>
                Dovetec Enterprises believes in the power of collaboration. Through strategic partnerships and
                alliances, we expand our reach and leverage complementary strengths to deliver even greater value to
                our clients. Together, we drive innovation and create lasting impact in the tech industry.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K</div>
              <h3><a href="#single.html">Charting a Course for Success: Dovetec's Strategic Planning</a></h3>
              <p>
                Success doesn't happen by chance—it's the result of careful planning and execution. At Dovetec
                Enterprises, we help businesses chart a course for success through strategic planning and foresight.
                Whether you're launching a new product or entering a new market, we provide the guidance and support
                you need to achieve your goals.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K.</div>
              <h3><a href="#single.html">Transformative Technologies: Dovetec's Vision for the Future</a></h3>
              <p>
                Dovetec Enterprises envisions a future where transformative technologies drive innovation and shape
                industries. From artificial intelligence to blockchain, we are at the forefront of technological
                evolution, pioneering solutions that redefine the way businesses operate. Join us on a journey into
                the future of tech.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="item">
            <div class="custom-media-v2">
              <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid person">
              <div class="author">by Dovine K.</div>
              <h3><a href="#single.html">Beyond Boundaries: Dovetec's Global Impact</a></h3>
              <p>
                Dovetec Enterprises transcends geographical boundaries to make a global impact. With a presence in key
                markets around the world, we bring our expertise and solutions to businesses of all sizes, empowering
                them to thrive in an interconnected world. Discover how we're shaping the future, one innovation at a
                time.
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials-v2 section" data-aos="fade-up" data-aos-delay="0">
      <div class="container">
        <div class="row mb-3">
          <div class="col text-center">
            <h2 class="heading">Testimonials</h2>
            <p>Discover the Voice of Success: Hear What Our Clients Have to Say</p>
          </div>
          <div class="owl-4-slider dark owl-carousel">
            <div class="testimonial-v2">
              <blockquote>
                <p>&ldquo;
                  Working with Dovetec Enterprisesas been a game-changer for our business. Their expertise in digital
                  solutions has helped us streamline our operations and expand our reach. Their dedication to our
                  success
                  is
                  unparalleled, and we're grateful for their partnership..
                  &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="author-pic">
                  <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid">
                </div>
                <div class="author-name">
                  <h3>Mark Lenny</h3>
                  <span>Enterprenuer</span>
                </div>
              </div>
            </div>

            <div class="testimonial-v2">
              <blockquote>
                <p>&ldquo;
                  Dovetec Enterprises transformed our e-commerce platform, Zoobee, with their innovative solutions.
                  From enhancing user experience to optimizing our digital marketing strategies,
                  they've significantly boosted our online sales and customer engagement. Their team's professionalism
                  and
                  commitment to excellence are truly commendable.
                  &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="author-pic">
                  <img src="{% static 'images/person_2-min.png' %}" alt="Image" class="img-fluid">
                </div>
                <div class="author-name">
                  <h3>Everustus K., E-commerce Founder</h3>
                  <span>Founder Zoobee Stores</span>
                </div>
              </div>
            </div>

            <div class="testimonial-v2">
              <blockquote>
                <p>&ldquo;
                  Dovetec Enterprisesas been an invaluable partner for our school. Their digital solutions have
                  modernized our communication channels and enhanced our online visibility. Thanks to their efforts,
                  we've
                  been able to better engage with our students, parents, and community members
                  &rdquo;</p>
              </blockquote>
              <div class="author d-flex">
                <div class="author-pic">
                  <img src="{% static 'images/person_1-min.png' %}" alt="Image" class="img-fluid">
                </div>
                <div class="author-name">
                  <h3>Mr. Johnson</h3>
                  <span>Principal at Trinity School, Nairobi</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Testimonials -->

      <div class="cta-section py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="cta">
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <h2 data-aos="fade-up" data-aos-delay="0">Ready to Get In Touch?</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                      Feel free to reach out to us to discuss how our services can benefit your business. Whether you
                      have
                      questions, need more information, or want to start a project, we're here to help.
                    </p>
                  </div>
                  <div class="col-md-6 text-center text-md-right">
                    <a href="/contact" class="btn btn-primary  mb-2 mb-md-0" data-aos="fade-up" data-aos-delay="200">Contact
                      us</a>
                    <a href="/contact" class="btn btn-primary " data-aos="fade-up" data-aos-delay="300">Product
                      Demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      {% include 'includes/footer.html' %}
      <!-- End Footer -->

      {% include 'includes/scripts.html' %}
    </body>

</html>