<!-- 
  Dovetec Enterprises
*  -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="About Us! | Dovetec Enterprises">
  <meta property="og:description"
    content="Dovetec Enterprises: Empowering Your Digital Evolution - Leading the way in software engineering and IT solutions, we guide businesses of all sizes to thrive in the digital era, maximizing growth and innovation.">
  <meta property="og:url" content="https://dovetecenterprises.netlify.app">
  <meta property="og:image" content="https://dovetecenterprises.netlify.app/dovetecenterprises/static/images/preview-image.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">

  <meta name="author" content="dovetecenterprises.tech">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon.png">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon-16x16.png" type="image/x-icon">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/dovetecenterprises/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/feather/style.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/aos.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/style.css">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

  <title>Dovetec Enterprises</title>
</head>

<body>
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- Nav Container -->
  {% include 'includes/navbar.html' %}
  <!-- END container -->


  <div class="hero hero-inner overlay pt-0" data-stellar-background-ratio="0.5"
    style="background-image: url('{% static 'images/hero_bg.png' %}')">

    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="row align-items-center">
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="section pt-0">
    <div class="container">

      <div class="row">
        <div class="col-lg-7 mx-auto">

          <form action="#" class="form-block form-login form-overlap">
            <h2 class="mb-4">Login</h2>
            <p>No account yet? <a href="#signup">sign up</a></p>
            <input type="text" class="form-control" placeholder="Enter email">
            <input type="password" class="form-control" placeholder="Password">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  {% include 'includes/footer.html' %}
  <!-- End Footer -->


  {% include 'includes/scripts.html' %}

</body>

</html>