<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="About Us! | Dovetec Enterprises">
  <meta property="og:description"
    content="Dovetec Enterprises: Empowering Your Digital Evolution - Leading the way in software engineering and IT solutions, we guide businesses of all sizes to thrive in the digital era, maximizing growth and innovation.">
  <meta property="og:url" content="https://dovetecenterprises.netlify.app">
  <meta property="og:image" content="https://dovetecenterprises.netlify.app/dovetecenterprises/static/images/preview-image.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">

  <meta name="author" content="dovetecenterprises.tech">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon.png">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/dovetecenterprises/static/icons/favicon-16x16.png" type="image/x-icon">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/dovetecenterprises/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/feather/style.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/aos.css">
  <link rel="stylesheet" href="/dovetecenterprises/static/css/style.css">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">



</head>

<body>

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- Nav Container -->
  <div class="container">
    <nav class="site-nav">
      <div class="logo">
        <a href="/" class="text-white">Dovetec Enterprises<span class="text-black">.</span></a>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-lg-12 site-navigation text-center">
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
            <!-- Home -->
            <li class="active"><a href="/">Home</a></li>
            <!-- About -->
            <li class="has-children">
              <a href="/about">Pages</a>
              <ul class="dropdown">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="#single.html">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- <li class="has-children">
                      <a href="#">Menu Two</a>
                      <ul class="dropdown">
                        <li><a href="#">Sub Menu One</a></li>
                        <li><a href="#">Sub Menu Two</a></li>
                        <li><a href="#">Sub Investor Relations</a></li>
                      </ul>
                    </li> -->
                <li><a href="#">Investor Relations</a></li>
              </ul>
            </li>
            <!-- Portfolio -->
            <li class="has-children">
              <a href="#">Portfolio</a>
              <div class='row g-xl-3'>

              </div>
              <ul class="dropdown d-flex d-none pr-2 list-unstyled">
                <!-- Nav item img list 1 -->
                <li>
                  <a href="/portfolio">
                    <img src="{% static 'images/hero-min.jpg' %}" alt="Portfolio | Oddibites" class="dropdown-img">
                    <h6>Ceremony Worthy of Time</h6>
                    <p>We help our customers better manage their web presence.</p>
                    <a href="/portfolio-showcase" class="learn-more">Learn more<i
                        class="bi bi-arrow-right"></i></a>
                  </a>
                </li>
                <!-- Nav item img list 2 -->
                <li>
                  <a href="#single.html">
                    <img src="{% static 'images/macbookmock.jpg' %}" alt="Portfolio Item 2" class="dropdown-img">
                    <h6>Brushstrokes and Beyond</h6>
                    <p>We help our customers better manage their web presence.</p>
                    <a href="/portfolio-showcase/" class="learn-more">Learn more<i
                        class="bi bi-arrow-right"></i></a>
                  </a>
                </li>
                <!-- Nav item list 3 -->
                <div class="col-xl-4">
                  <ul class="list-unstyled">
                    <li class="dropdown-header h6">Portfolio Pages</li>
                    <li> <a class="dropdown-item" href="/portfolio-massionry/">Portfolio Masonry</a> </li>
                    <li> <a class="dropdown-item" href="products.html">Products</a> </li>
                    <li> <a class="dropdown-item" href="/portfolio">Portfolio</a> </li>
                    <li> <a class="dropdown-item" href="/portfolio-showcase/">Portfolio Case Study v.1</a>
                    </li>
                    <li> <a class="dropdown-item" href="/portfolio-showcase/">Portfolio Case Study v.2</a>
                    </li>
                  </ul>
                </div>


              </ul>
            </li>
            <!-- Gallery -->
            <li><a href="gallery">Gallery</a></li>
            <!-- Contact -->
            <li><a href="/contact">Contact us</a></li>
          </ul>
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right menu-absolute">
            <li><a href="#coming-soon">Join Us!</a></li>
            <li class="cta-button"><a href="https://dovetecenterprises.tech/" target="_blank">Product Demo</a></li>
          </ul>
          <a href="#" class="burger light ml-auto site-menu-toggle js-menu-toggle d-block d-lg-none"
            data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>
      </div>
    </nav> <!-- END nav -->
  </div>
  <!-- END container -->



  <!-- fill div with a glassmorphic effect  -->
  <div>
    <!-- Hero Section -->
    <div class="site-blocks-cover" style="background-image: url({% static 'images/bg-video.jpg' %});">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 pb-0" style="position: relative;">
            <div class="row justify-content-center">
              <div class="col-md-8 text-center text-white p-5 pb-2">
                <h1 class="p-4 text-left text-shadow font-weight-bold text-white data aos=" fade-up"
                  data-aos-delay="100">Portfolio Case Study V1
                </h1>
                <p class="text-left mb-2" data-aos="fade-up" data-aos-delay="200">We help our customers better manage
                  their web
                  applications and web
                  presence.</p>
              </div>
            </div>
            <!-- Header with Breadcrumb -->
            <div class="site-section" style="height: 100px; padding-top: 4%; padding-bottom: 0%;">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class=" text-muted bg- font-weight-bold ">
                      Products
                    </h2>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb item bg-secondary text-white"><a href="/">Home</a>
                        </li>
                        <li class="breadcrumb item bg-secondary text-white"><a href="/portfolio">Portfolio</a>

                        </li>
                        <li class="breadcrumb item active" aria-current="page">Products</li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Header with Breadcrumb -->
          </div>
        </div>
      </div>
    </div>
    <!-- END Hero Section -->
  </div>
  
  <div class="section">
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 1">
      <div class="overlay">
        <p>Brand: Oddibites</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 2">
      <div class="overlay">
        <p>Colors:  Red, Green and Orange</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 3">
      <div class="overlay">
        <p>Design: Mockup</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 4">
      <div class="overlay">
        <p>Website: Coming Soon</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 5">
      <div class="overlay">
        <p>Product Details: Ecommerse Food and Orders</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 6">
      <div class="overlay">
        <p>Developers: <a href="http://dovineowuor.me" target="_blank" rel="noopener noreferrer">Dovine K</a></p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 7">
      <div class="overlay">
        <p>Editor: Figma, VsCode</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 8">
      <div class="overlay">
        <p>Intuited Team: Dovetec Enterprises</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 9">
      <div class="overlay">
        <p>Problem Statement: ...</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 10">
      <div class="overlay">
        <p>Solution Statement: ...</p>
      </div>
    </div>
    <div class="staggered-div col-md-4">
      <img src="{% static 'images/img_h_3-min.jpg' %}" alt="Image 11">
      <div class="overlay">
        <p>Value Proposition: ...</p>
      </div>
    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container" style="background-image: url('{% static 'images/subscribe.png' %}');">
      <div class="row justify-content-center text-center">
        <div class="col-md-6" data-aos="fade-up">
          <h2 class="text-white font-weight-bold">Subscribe to our newsletter</h2>
          <p class="card-text text-white text-shadow">Get the latest updates and offers.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12" data-aos="fade-up">
          <form action="#" class="d-flex mb-5">
            <input type="text" class="form-control" placeholder="Enter your email address">
            <input type="submit" class="btn btn-primary" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include 'includes/footer.html' %}
  <!-- End Footer -->


  <!-- Techdarasa  is a learning management system revolutionizing education and resources administration -->
  {% include 'includes/scripts.html' %}
</body>

</html>