{% load static %}
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <!-- Nav Container -->
  <div class="container">
    <nav class="site-nav">
      <div class="logo">
        <a href="/" class="text-white">Dovetec Enterprises<span class="text-black">.</span></a>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-lg-12 site-navigation text-center">
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
            <!-- Home -->
            <li class="active"><a href="/">Home</a></li>
            <!-- About -->
            <li class="has-children">
              <a href="/about">Pages</a>
              <ul class="dropdown">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/articles">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- <li class="has-children">
                    <a href="#">Menu Two</a>
                    <ul class="dropdown">
                      <li><a href="#">Sub Menu One</a></li>
                      <li><a href="#">Sub Menu Two</a></li>
                      <li><a href="#">Sub Investor Relations</a></li>
                    </ul>
                  </li> -->
                <li><a href="#">Investor Relations</a></li>
              </ul>
            </li>
            <!-- Portfolio -->
            <li class="has-children">
              <a href="/portfolio">Portfolio</a>
              <div class='row g-xl-3'>

              </div>
              <ul class="dropdown d-flex d-none pr-2 list-unstyled">
                <!-- Nav item img list 1 -->
                <li>
                  <a href="/portfolio">
                    <img src="{% static 'images/hero-min.jpg' %}" alt="Portfolio Item 1" class="dropdown-img">
                    <h6>Ceremony Worthy of Time</h6>
                    <p>We help our customers better manage their web presence.</p>
                    <a href="/portfolio-showcase/" class="learn-more">Learn more<i
                        class="bi bi-arrow-right"></i></a>
                  </a>
                </li>
                <!-- Nav item img list 2 -->
                <li>
                  <a href="#single">
                    <img src="{% static 'images/macbookmock.jpg' %}" alt="Portfolio Item 2" class="dropdown-img">
                    <h6>Brushstrokes and Beyond</h6>
                    <p>We help our customers better manage their web presence.</p>
                    <a href="/portfolio-showcase/" class="learn-more">Learn more<i
                        class="bi bi-arrow-right"></i></a>
                  </a>
                </li>
                <!-- Nav item list 3 -->
                <div class="col-xl-4">
                  <ul class="list-unstyled">
                    <li class="dropdown-header h6">Portfolio Pages</li>
                    <li> <a class="dropdown-item" href="/portfolio-massionry/">Portfolio Masonry</a> </li>
                    <li> <a class="dropdown-item" href="/products">Products</a> </li>
                    <li> <a class="dropdown-item" href="/portfolio">Portfolio</a> </li>
                    <li> <a class="dropdown-item" href="/portfolio-showcase/">Portfolio Case Study v.1</a>
                    </li>
                    <li> <a class="dropdown-item" href="/portfolio-showcase/">Portfolio Case Study v.2</a>
                    </li>
                  </ul>
                </div>


              </ul>
            </li>
            <!-- Gallery -->
            <li><a href="/gallery">Gallery</a></li>
            <!-- Contact -->
            <li><a href="/contact">Contact us</a></li>
          </ul>
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right menu-absolute">
            <li><a href="#coming-soon">Join Us!</a></li>
            <li class="cta-button"><a href="/contact" target="_blank">Product Demo</a></li>
          </ul>
          <a href="#" class="burger light ml-auto site-menu-toggle js-menu-toggle d-block d-lg-none"
            data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>
      </div>
    </nav> <!-- END nav -->
  </div>
  <!-- END container -->